venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

/home/treatiseai/TreatiseAI/data/*
/home/treatiseai/TreatiseAI/download/*

.DS_STORE

.env

user_credentials.db

string_to_word_doc.docx
