<html>
  <head>
    <title>Change Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Change Password</h1>
      <br>
      <form action="" method="post">
        <input type="password" placeholder="Current Password" name="current_password">
        <input type="password" placeholder="New Password" name="new_password">
        <input type="password" placeholder="Confirm New Password" name="confirm_new_password">
        <input class="btn btn-default" type="submit" value="Change Password">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>