<!DOCTYPE html>
<head>
  <title>TreatiseAI Feedback Pre-Alpha</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='gavel.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='tailogo.png') }}" width=360px />
  <h3>Feedback Pre-Alpha</h3>
  <text>{{ user.username }} logged in</text>
  <div align="center">
    <form action="/" method="post">
      <br><label for="document">Choose a document type:</label>
      <select id="document" name="document">
        <option value="memo">Memorandum</option>
        <option value="longer_memo">Longer Memo (may be repetitive)</option>
        <option value="bullets">Bullet memo</option>
        <option value="contract">Contract</option>
        <!--<option value="longer_contract">Longer Contract (unreliable)</option>-->
        <!--not using for now; to be built in new way-->
        <option value="claim_letter">Claim letter</option>
      </select><br><br>
      <input type="text" name="subject" placeholder="Subject matter" required /><br>
      <input type="text" name="jurisdiction" placeholder="Jurisdiction" required /><br>
      <input type="text" name="party1" placeholder="Contract party 1" /><br>
      <input type="text" name="party2" placeholder="Contract party 2" /><br><br>
       <button type="submit" class="btn btn-primary">Generate</button><br><br>
    </form>
  </div>
  {% if result %}
  <br><h4>Work:</h4>
  <div class="result">{{ result }}</div>
  <br><a href="/download" class="btn btn-primary mt-3">Download Word document</a>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLScYVl4UOyHsm7_gQyZtrBRUlA8PRE2VlXa7aYSawy0vepqswg/viewform?usp=pp_url&entry.1879593767={{ result }}" target="_blank" class="btn btn-primary mt-3">Submit feedback on this output</a><br><br>
  {% endif %}
  <footer><text>Copyright 2023 TreatiseAI. All rights reserved.</text></footer>
</body>
